body {
  background-color: rgb(245, 245, 241);
  color: rgb(136, 131, 126)
}

.my-top {
  margin: 0 300px;
}

.container {
  margin: 0 auto;
}

.card {
  color: rgb(82, 75, 67);
}

h2 {
  color: black;
}

.card-title {
  font-family: "PT Serif", serif;
}

.card-text {
  font-family: "Quicksand", sans-serif;
}

